body {
	background-image: url("../images/JJKevin.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 1440px;
}

.memory {
    margin: 0 auto;
    display: table;
}

#container {
    max-width: 425px;
    width: 100%;
    margin-top: 12em;
    margin-right: auto;
    margin-bottom: 5em;
    margin-left: auto;
    position: relative;
    border-style: solid;
}

#container p {
    text-align: center;
    margin: 0;
    top: 50%;
    color: black;
    background-color: white;
}

#birthday {
    font-size: 18px;
}

